<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - IFSP Application</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @Html.ActionLink("HostMaker – A hospedagem perfeita", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li>@Html.ActionLink("Home", "Index", "Home")</li>
                    <li>@Html.ActionLink("Categorias", "Index", "Category")</li>
                    <li>@Html.ActionLink("Cidades", "Index", "City")</li>
                    <li>@Html.ActionLink("Estabelecimentos", "Index", "Establishment")</li>
                    <li>@Html.ActionLink("Tipos de Quarto", "Index", "RoomKind")</li>
                    <li>@Html.ActionLink("Quartos", "Index", "Room")</li>
                    <li>@Html.ActionLink("Usuários", "Index", "User")</li>
                    <li>@Html.ActionLink("Consultas", "Index", "Query")</li>
                </ul>
            </div>
        </div>
    </div>
    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - @Html.ShowAdvertisement()</p>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
